<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="~/favicon.ico" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" >
    <!-- Font Icon -->
    <link rel="stylesheet" href="~/lib/fonts/material-icon/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="~/lib/css/styles.css">
</head>
<body>
    <script src="~/lib/tatajs/tata.js" ></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/lib/jquery/jquery.slim.min.js"></script>
    <script src="/lib/lottie/lottie.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js" ></script>
    @RenderBody()
</body>
</html>