@model LoginViewModel
@{
    IEnumerable<string> errors = ViewContext.ModelState.Values
                                        .SelectMany(x => x.Errors)
                                        .Select(x => x.ErrorMessage);
    var queryString = ViewContext.HttpContext.Request.QueryString;  
    var createAccountUrl = "/Account/Register" + queryString;
}
<div>
    <!-- Sing in  Form -->
    <section style="padding: 20px" class="sign-in">
        <div class="container">
            <div class="signin-content">
                <div class="signin-image text-center">
                    <figure><img src="/lib/images/signin-image.jpg" alt="sing up image"></figure>
                    Don't have account? 
                    <a href="@createAccountUrl" id="linkCreateAccount" class="signup-image-link">Create an account</a>
                </div>

                <div class="signin-form">
                    <h2 class="form-title">Sign in</h2>
                    <form  class="register-form" id="login-form" asp-controller="Account" asp-action="Login" method="post">
                        @* Return url *@
                        <input type="hidden" asp-for="ReturnUrl" />

                        <div class="form-group">
                            <label for="Email"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input required type="email" asp-for="Email" name="Email" id="Email" placeholder="Your Email"/>
                        </div>
                        <div class="form-group">
                            <label for="Password"><i class="zmdi zmdi-lock"></i></label>
                            <input required type="password" asp-for="Password" name="Password" id="Password" placeholder="Password"/>
                        </div>
                        <div class="form-group">
                            <input checked type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                            <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                        </div>
                        <div class="form-group form-button">
                            <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
                        </div>
                    </form>
                    <div class="social-login">
                        <span class="social-label">Or login with</span>
                        <ul class="socials">
                            <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                            <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                            <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @if (ViewContext.ModelState.IsValid == false)
    {
        @foreach (string error in errors)
        {
            <script>
                tata.error("@error", "", { duration: 5000 })
            </script>
        }
    }
</div>