/* Menu Item */
.ant-menu-item:not(.ant-menu-item-selected):hover {
    background-color: #e4e9f0;
}
.ant-menu-light:not(.ant-menu-horizontal) .ant-menu-item {
    border-radius: 5px;
    width: calc(100% - 20px);
    transition: 0.3s;
    margin: 10px auto;
    color: #595c97;
}
.ant-menu-item:after {
    border-right: none;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background: #4b7cf3;
    color: #fff;
    font-weight: bold;
}
.ant-menu-item-group-title {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: .7rem;
    padding: 8px 16px;
    line-height: 1.5;
}
.ant-menu-item {
    padding-left: 16px !important;
}
/* Card */
.ant-card {
    border-radius: 6px;
    border-color: #e4e9f0;
    box-shadow: 0 4px 10px 0 rgba(20,19,34,.03), 0 0 10px 0 rgba(20,19,34,.02);
}
/* Antd layout */
.ant-layout {
    background: #fff;
}
/* Button */
.ant-btn:not(.ant-btn-round, .ant-btn-circle, .ant-btn-circle-outline) {
    border-radius: 3px;
}