@import "../../assets/css/variables";

#toggleMenuLabel {
  display: none;
  position: absolute;
  top: 5px;
  right: 0;
  width: 2.3em;
  height: 2.6em;
  padding: 0.35em;
  border-radius: 5px 0 0 5px;
  font-size: 1.1em;
  color: #fff;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
  user-select: none;
  margin: 0;
  background: rgba(0, 0, 0, 0.4);

  &:after {
    position: absolute;
    right: 0.3em;
    top: 0;
    content: "\2261";
    font-size: 1.8em;
  }
}
#toggleMenuInput {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.menu {
  font-size: 13px;
  display: flex;
  justify-content: flex-end;
  background: rgb(53, 53, 53);

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    > li {
      display: inline-block;
      margin: 10px 20px;
      cursor: pointer;
      color: rgb(255, 255, 255);

      a {
        color: rgb(255, 255, 255);
        &:hover {
          color: $mainOrange;
        }
      }

      &:hover {
        color: $mainOrange;
      }

      .language-selector {
        color: secondary;
        margin-right: 30px;
      }

      .countryflags {
        height: 30px;
        margin-left: -10px;
      }
    }
  }
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 20px 20px 20px;

  > * {
    margin-top: 20px;
  }

  .brand {
    min-height: 86px;
    min-width: 49px;
  }
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 23px;
    text-transform: uppercase;
    font-weight: bold;

    div {
      white-space: nowrap;
      padding: 0px 20px;
      cursor: pointer;

      i {
        color: rgb(195, 195, 195);
      }

      &:hover i, &.active i {
        color: $mainOrange;
      }
    }
  }

  .search-bar {
    display: flex;
    justify-content: flex-end;

    button,
    input {
      padding: 10px 20px;
      border: 1px solid $mainOrange;
      font-size: 1.1em;
      outline: none;
    }

    button {
      background: $mainOrange;
      border-radius: 999px 0 0 999px;
      cursor: pointer;

      i {
        color: #fff;
      }

      &:hover {
        background: rgb(255, 121, 81);
        border: 1px solid rgb(255, 121, 81);
      }
    }
    input {
      border-radius: 0 999px 999px 0;
    }

    &:hover {
      button {
        background: rgb(255, 121, 81);
        border: 1px solid rgb(255, 121, 81);
      }
      input {
        border: 1px solid rgb(255, 121, 81);
      }
    }
  }
}

.banner {
  min-height: 822px;
  width: 100%;

  img {
    width: 100%;
    height: auto;
  }
}

.main-layout--footer {
  background: #353535;
  color: white;
  padding-bottom: 20px;

  .footer--brand {
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
    color: $mainOrange;
  }

  .footer--content {
    padding: 50px 0;
    display: flex;
    justify-content: space-around;

    .footer--title {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.8em;
    }
  }

  .footer--copyright {
    text-align: center;
  }
}

// ----- RESPONSIVE --------
@media (max-width: 768px) {
  $menu_width: 20em;
  $content_offset: 0.5em;

  body {
    overflow-x: hidden;
  }

  .menu {
    justify-content: flex-start;
    position: absolute;
    z-index: 1000;
    top: 0;
    height: 100%;
    opacity: 0;
    right: -$menu_width;
    width: $menu_width;
    transition: 0.5s;
    ul {
      padding: 50px 0 0 0;
      width: 100%;
    }
    ul > li {
      display: block;
      margin: 0;
      padding: 10px 0 10px 20px;
      width: 100%;
      &:hover {
        background: #000;
      }
    }
  }

  #toggleMenuLabel {
    z-index: 1001;
    display: block;
  }

  #toggleMenuInput:checked ~ .menu {
    right: 0;
    opacity: 1;
  }
}
