@import '../../../assets/css/mixins';

.cart-list {
  .cart-list--title {
    font-size: 1.7em;
    font-weight: bold;

    background: #f1f1f1;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
  }

  .cart-list--content {
    & > * {
      margin-bottom: 20px;

      &:not(:last-child):after {
        content: "";
        display: block;
        height: 1px;
        border: 1px dashed rgb(226, 226, 226);
        margin-top: 20px;
      }
    }
  }

  .cart-list--footer {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid rgb(44, 44, 44);
    margin-top: 50px;
    padding-top: 50px;

    button {
      padding: 8px 30px;
      border: none;
      background: rgb(44, 44, 44);
      color: white;
      font-weight: bold;
      font-size: 1.2em;
      outline: none;
      cursor: pointer;

      @include zoomingBg
    }
  }

  .order {
    font-weight: bold;
    background: #f1f1f1;
    padding: 20px;
    position: sticky;
    top: 10px;

    .order--divider {
      height: 2px;
      width: 100%;
      background: rgba(0, 0, 0, 0.65);
    }

    .order--title {
      font-size: 1.7em;
    }

    .order--title1 {
      font-size: 18px;
      text-transform: uppercase;
      margin-top: 20px;
    }

    .order--input {
      display: flex;
      margin-top: 10px;

      button,
      input {
        border: none;
        outline: none;
      }

      button {
        font-weight: bold;
        background-color: #f15e2c;
        color: #fff;
        font-size: 18px;
        height: 40px;
        width: 85px;
      }

      input {
        text-indent: 10px;
        border: 1px solid #f15e2c;
        display: block;
        width: calc(100% - 85px);
        height: 40px;
        line-height: 1.42857143;
        background-color: #fff;
        background-image: none;
        border-radius: 0px;
        color: #000;
        font-size: 16px;
      }
    }

    .order--text {
      color: #f15e2c;
      font-size: 14px;
      margin: 5px 0px 0px 0px;
      padding-top: 0px;
      padding-bottom: 0px;
    }

    .order--divider2 {
      margin: 20px 0;
      height: 1px;
      background: rgb(170, 170, 170);
      width: 100%;
    }

    .order--total-price {
      font-size: 1.5em;
    }

    .order--pay-btn {
      background-color: #f15e2c;
      width: 100%;
      color: #fff;
      font-size: 1.6em;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      cursor: pointer;
      transition: 0.3s;

      @include zoomingBg
    }
  }

  .cart-list-empty--title {
    text-align: center;
    font-weight: bold;
    font-size: 1.8em;
    margin-top: 20px;
  }
  .cart-list-empty--button {
    padding: 8px 30px;
    border: none;
    background: rgb(44, 44, 44);
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    outline: none;
    width: 250px;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    cursor: pointer;

    @include zoomingBg
  }
  
  .cart-list-empty--content {
    text-align: center;
    font-size: 1.2em;
  }

}
